:root{
    --black: #0e0e0e;
    --white: rgb(244, 244, 244);
    --brown: rgb(221, 178, 125);
    --black-hover:rgba(0,0,0,.6);
}
*,::after,::before{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
body{
    color: var(--white);
}
/*HEADER=================================*/
header{
    background-image: url(IMAGENES/Central/imagenCentral.png);
    background-size: 110% auto;
    background-position: top;
    background-position-x: right;
}
nav#navBar-desktop{
    padding-top: 100px;
}
header nav ul li{
    list-style: none;
    color: var(--white);
}
header nav ul li a{
    color: var(--white);
    text-decoration: none;
    padding: 6px;
    margin: 0 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
header a:hover{
    color: var(--brown);
}
/*HAMBURGUER ICON*/
header nav button#button-hamburguer{
    background-color: transparent;
    border-style: solid;
    /* padding: 15px 20px; */
    display: none;
}
button#button-hamburguer i{
    font-size: 1.8rem;
    padding: 5px;
    color: var(--white);
}
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    position: relative;
    left: calc(100vw - 38vw);
    margin-top: 150px;
}
.presentation h1{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.6rem;
    font-weight: 300;
    text-align: center;
}
.presentation p{
    margin-top: 40px;
    font-size: 1.5rem;
    line-height: 1.8;
}
.presentation button{
    margin-top: 40px;
    margin-left: auto;
    font-size: 1.8rem;  
    background-color: var(--black-hover);
    color: var(--white);
    margin-bottom: 200px;
    border-radius: 40px;
    border-style: none;
    padding: 15px 40px;
}
.presentation button:hover{
    background-color: var(--black);
    transition: background-color .4s;
}
/*MAIN====================================*/