:root{
    --black: #0e0e0e;
    --white: rgb(244, 244, 244);
    --brown: rgb(221, 178, 125);
    --black-hover:rgba(0,0,0,.6);
    --gray: rgb(75, 73, 73);
}
*,::after,::before{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    background-color: var(--black);
    scroll-behavior: smooth;
}
body{
    color: var(--white);
}
/*HEADER=================================*/
header{
    background-image: url(IMAGENES/Central/imagenCentral.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
nav#navBar-desktop{
    padding-top: 2vh;
}
#navBar-mobile{
    display: none !important;
}
header nav ul li{
    list-style: none;
    color: var(--white);
}
header nav ul li a{
    color: var(--white);
    text-decoration: none;
    padding: 6px;
    margin: 0 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
header a:hover{
    color: var(--brown);
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    position: relative;
    left: calc(100vw - 38vw);
    margin-top: 150px;
    padding-bottom: 100px;
}
.presentation h1{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.2vw;
    font-weight: 400;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}
.presentation p{
    margin-top: 40px;
    font-size: 1.6vw;
    line-height: 1.8;
    text-shadow: black 1px 1px 1px;
}
.presentation button{
    margin-top: 40px;
    margin-left: auto;
    font-size: 2.2vw;  
    background-color: var(--black-hover);
    color: var(--white);
    border-radius: 40px;
    border-style: none;
    padding: 15px 40px;
    text-transform: uppercase;
}
.presentation button:hover{
    background-color: var(--black);
    transition: background-color .4s;
}
/*MAIN====================================*/
/*PRODUCTS ==============*/
#products{
    color:var(--white);
}
.container-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0;
}
.products-title,.locals-title, .contacto-title{
    width: 100%;
    background-color: var(--gray);
}
.products-title h2,.locals-title h2, .contacto-title h2{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    margin-bottom: 0;
    font-size: 2.3rem;
}
#products img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.black-description{
    background-color: var(--black);
    padding: 30px;
    border-right: .5px solid var(--brown);
}
.title-card{
    color: #a97632;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    height: 100px;
}
.content-card{
    width: 80%;
    height: 120px;
    padding-left: 20px;
    
}
.footer-card{
    display: block;
    height: 80px;
    width: 80%;
    padding-left: 20px;
}
.info-button{
    display: block;
    margin: auto;
    background-color: var(--black);
    color: var(--brown);
    text-transform: uppercase;
    border: 4px solid var(--brown);
    padding: 7px 15px;
    font-size: 1.2rem;
    margin-top: 30px;
}
/*RECETAS*/
#recetas{
    background-color: var(--brown);
}
.recetas-intro{
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--black);
}
.container-recetas{
    width: 50%;
    background-color: var(--brown);
    margin: 0 auto;
    padding: 10px 0 40px 0;
}
.container-recetas img{
    width: 20%;
    height: 400px;
    object-fit: contain;
}
/*Contacto ===================*/
#contacto{
    background-color: var(--brown);
}
#contacto img{
    object-fit: cover;
    width:40%;
}

.flex-contacto{
    display: flex;
    color: var(--black);
}

.container-form{
    margin: auto;
    padding: 30px 0;
}
.enviar-button{
    background-color: var(--black);
    color: var(--white);
}
.enviar-button:hover{
    background-color: #3c2401 !important;
    color: var(--white) !important;
}
/*FOOTER ===========================*/
footer{
    background: linear-gradient(0deg, #0a0909, #232323);
    padding: 50px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: var(--white);
}
footer i{
    font-size: 1.5rem;
}

/*BreakPoints*/
@media only screen and (max-width: 1100px) and (min-width: 750px){
    .container-cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:749px){
    .container-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .flex-contacto{
        flex-direction: column;
    }
    #contacto img{
        width: 100%;
    }
    .container-form{
        padding: 10px 20px;
    }
    .presentation{
        width: 80%;
        position: static;
        margin: auto;
    }
    .presentation h1,.presentation p ,.presentation button{
        font-size: 1rem;
    }
    #navBar-desktop{
        display: none !important;
    }
    #navBar-mobile{
        display: block !important;
        padding: 20px 0 20px;
        margin-right: 40px;
    }
    #button-hamburguer{
        border: 2px solid var(--black);
        border-radius: 5px;
        background-color: var(--brown);
    }
    #hidden-b-mobile{
        display: none;
    }
    #button-hamburguer:active{
        transform: translateY(4px);
    }
    #button-hamburguer i{
        font-size: 1.8rem;
        padding: 5px;
    }
}
@media only screen and (max-width:500px){
    .container-recetas{
        width:100%;
    }
    .container-recetas img{
        width: 10%;
    }
    .footer-menu2{
        display: none;
    }
}